[submodule "cs6265-labs"]
	path = cs6265-labs
	url = ../cs6265-labs
[submodule "heaplab"]
	path = heaplab
	url = ../heaplab
[submodule "binex-research"]
	path = binex-research
	url = ../binex-research
